<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devpur}}">
		{{#if devour}}UN-DEVOUR{{else}}DEVOUR{{/if}}
	</button>
	<button data-id="{{id}}" class="deleteburger">DELETE</button>
</li>
