<li>
	{{name}}

	<button class="change-devour btn btn-secondary btn-sm m-2" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devoured!{{else}}Devour It!{{/if}}
	</button>
	<button data-id="{{id}}" class="deleteBurger btn btn-danger btn-sm m-2">Delete</button>
</li>
